.search {
  @include container;

  width: 100%;

  &-bar,
  &-tags,
  &-filters {
    width: 100%;
    padding: 5px 0;

    @include laptop-only{
      padding: 0;
    }
  }

  &-tags {
    ul {
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      padding-inline-start: 0;
      line-height: 45px;
    }

    &-item {
      margin-right: 10px;
    }
  }

  &-filters {
    display: flex;
    align-items: flex-start;

    @include laptop-only{
      flex-wrap: wrap;
    }

    div {
      margin-right: 5px;

      @include laptop-only{
        margin-bottom: 5px;
      }
    }
  }
}
